body{
	font-family: verdana;arial;
	background-color: #FFA500;

}

#container{
	background-color:#FFFFFF;
	width: 60%;
	margin-left:20%;
	margin-right:20%;
	text-align:justify;
	border: 5px solid #4682B4;
	
}



div{
	background-color:#FFFFFF;
	width: 90%;
	margin:5%;
	text-align:justify;
	line-height:170%;
	padding:1%;

}

h1{
	font-size:300%;
	text-align: center;
	background-color:#FFFFFF;
}

h2{
	text-align:center-left;
	margin-top:10%;
	background-color:#FFFFFF;
}

p{

	

}