/*CSS-Document*/

body{
	background-color:#FFEFFC;
	font-family:Arial;
	text-align:center;
}

input{
	display: block;
	margin:auto;
	margin-bottom: 4%;
	
}

select{
	display:block;
	margin:auto;
	margin-bottom:4%;

}
#malaDireta{
	display:inline;
}

fieldset{
	width:40%;
	margin-left:0%;
	display:inline;
	margin-bottom:1%;
}

legend{
	font-family: Arial Black;
	
	
}


