<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/UNICID - Semestre 2/src/aula2_06_09_16/Treino2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aula2_06_09_16.Treino2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="UNICID - Semestre 2"/>
</launchConfiguration>
