/* GERAL */

textarea {
	resize: none;
}

/* TABLE */

#estrutura #conteudo .espaco table {
	border-collapse: collapse;
}

#estrutura #conteudo .espaco table tr td {
	border-radius: 0px;
	box-shadow: none;
}

#estrutura #conteudo .espaco table tr:first-child td {
	background-color: #c60000;
	color: #FFF;
	border: none;
}

#estrutura #conteudo .espaco table tr td a:hover {
	text-decoration: underline;
}

#estrutura #conteudo .espaco table tr:first-child td:first-child {
	border-radius: 10px 0px 0px 0px;
}

#estrutura #conteudo .espaco table tr:first-child td:last-child {
	border-radius: 0px 10px 0px 0px;
}

#estrutura #conteudo .espaco table tr:last-child td {
	border-bottom: 3px solid #000;
}

#estrutura #conteudo .espaco input[type="button"] {
	margin-top: 10px;
	border: 5px outset #262626;
	width: 155px;
	height: 40px;
	background-color: #0d0d0d;
	color: #FFF;
	cursor: pointer;
}

#estrutura #conteudo .espaco input[type="button"]:active {
	border: 5px inset #262626;
}

/* NEWTOY PAGE */

#estrutura #conteudo .espaco #newtoy input[type="text"], textarea {
	border: 3px inset #DDD;
}

#estrutura #conteudo .espaco #newtoy tr td {
	border: none;
	padding: 2px;
	text-align: left;
}

#estrutura #conteudo .espaco #newtoy tr:first-child td {
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
	text-align: center;
}

#estrutura #conteudo .espaco #newtoy tr td:first-child {
	width: 20%;
	text-transform: uppercase;
	padding-left: 10px;
	font-weight: bold;
}

#estrutura #conteudo .espaco #newtoy tr:nth-child(8) td:first-child {
	padding-top: 10px;
	vertical-align: top;
}

#estrutura #conteudo .espaco input[type="text"] {
	padding: 5px;
}

#estrutura #conteudo .espaco textarea {
	width: 528px;
	height: 200px;
}

#estrutura #conteudo .espaco #newtoy input[type="button"] {
	width: 100px;
}