/* ID CONTENT */

#estrutura #conteudo {
	margin-left: 200px;
}

#estrutura #conteudo .espaco h2 {
	font-size: 1.5em;
	margin: 0px;
	margin-left: 20px;
	background-color: #d40606;
	color: #FFF;
	width: 50%;
	padding: 2px;
	padding-left: 6px;
	border-radius: 0px 10px 0px 0px;
}

#estrutura #conteudo .espaco {
	margin: 30px 10px;
	border-left: 1px solid #000;
	padding: 20px;
}

#estrutura #conteudo table {
	width: 100%;
	text-align: center;
	border-spacing: 20px;
}

#estrutura #conteudo .espaco img {
	width: 100px;
}

#estrutura #conteudo .espaco table tr td {
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #AAA;
	padding: 10px;
}

#estrutura #conteudo .espaco table tr td span {
	display: block;
}

#estrutura #conteudo span.valorantigo {
	text-decoration: line-through;
	color: #A00;
	font-weight: bold;
}

#estrutura #conteudo span.valoratual {
	color: #000;
	font-weight: bold;
	font-size: 25px; 
}

#estrutura #conteudo span.parcelamento {
	font-weight: bold;
}

#estrutura #conteudo .espaco table tr td h3 {
	padding: 2px;
	margin: 0px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #ffbf00;
	border-radius: 5px;
	text-shadow: 2px 2px 4px #000;
	color: #FFF;
}