/* ID CONTENT */

#estrutura #conteudo .espaco h2 {
	margin-left: 15px;
	width: 95%;
}

#estrutura #conteudo table {
	width: 100%;
	text-align: center;
	border-spacing: 15px;
}

#estrutura #conteudo .espaco img {
	width: 350px;
	box-shadow: 5px 5px 5px #AAA;
}

#estrutura #conteudo .espaco table tr td {
	width: 300px;
}

#estrutura #conteudo .espaco table tr td:first-child {
	border: none;
	box-shadow: none;
}

#estrutura #conteudo .espaco table tr td ul {
	margin: 30px;
	text-align: left;
}

#estrutura #conteudo .espaco table tr td ul li {
	list-style-type: disc;
}

#estrutura #conteudo .espaco table tr td ul li .italic {
	font-style: italic;
	font-weight: bold;
}

#estrutura #conteudo .espaco table tr td span {
	display: block;
}


#estrutura #conteudo span.cargo {
	color: #000;
	font-weight: bold;
	font-size: 20px; 
}

#estrutura #conteudo span.rgm {
	color: #000;
	font-weight: bold;
	font-size: 15px; 
}

#estrutura #conteudo span.rgmnumero {
	color: #000;
	font-weight: bold;
	font-size: 20px; 
}


#estrutura #conteudo .espaco table tr td h3 {
	padding: 2px;
	margin: 0px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #ffbf00;
	border-radius: 5px;
	text-shadow: 2px 2px 4px #000;
	color: #FFF;
}