/*CSS-Document*/
body {
	margin:0;
	padding:0;
	text-align:center; /* hack para o IE */	
	
	}
#container {
	width: 100;
	margin:auto;			
	text-align:left; /* "remédio" para o hack do IE */	
	
	}
	
	h4{
		margin-top:0;
		font-family:arial;
		font-size:20px;
		height:30px;
		line-height:30px;
		border-left:5px solid #5cae9d;
		padding-left:10px;
	}
#logo{
	width:350px;
	margin-left:400px;
	z-index:10;
}

header{
	border-bottom: 1px solid #000;
	background: #FFF;
	z-index:10;
	position:fixed;
	top:0px;
	left: 65px;
	width:1180px;
	
}

.menu{
	position: fixed;
	left:200px;
	top:145px;
	z-index:10;
	}
	
	
	
	hr{
		position:relative;
		top:140px;
	}
	
	#bh1,#bh2{
		position:relative;
		left:0;
		width:250px;
		display:block;
		margin-bottom:30px;
	}
	
	
	#rj,#bh1,#b2{
		border-radius:5px;
	}
	
	
	#rj{
		width:500px;
		height:250px;
		margin-left:10px;
	}
	
	h3{
		text-align:center;
	}
	
	figure,#rj{
		margin-top:0;
	}
	
	
	figcaption{
		font-style:italic;
		text-align:center;
	}
	a{
		float:left;
	}
	aside{
	width:250px;
	top:280px;
	left:200px;
	position:absolute;
	}
	
	
	#spBh1{
		background-color:#5cae9d;
		position:absolute;
		top:150px;
		left:170px;
		opacity:0.7;
		font-family:arial;
		color:#FFF;
		width:80px;
		height:30px;
		line-height:30px;
		text-align:center;
		z-index:2;
	}
	
	#spBh2{
		background-color:#5cae9d;
		position:absolute;
		top:345px;
		left:170px;
		opacity:0.7;
		font-family:arial;
		color:#FFF;
		width:80px;
		height:30px;
		line-height:30px;
		text-align:center;
		z-index:2;
	}
	
	article{
	position:absolute;
	width:620px;
	position:absolute;
	left:500px;
	top:280px;
	text-align:justify;
	font-family:arial;
	line-height:30px;
	text-indent:50px;
	}
	
	section{
		margin-top:10px;
	}
	
	
	footer{
		position:absolute;
		top:1100px;
		background-color:#1A1A1A;
		width:1345px;
		height:150px;
	}
	
	.rodape{
		float:left;
		list-style:none;
		margin-right:50px;
		margin-left:50px;
		margin-top:50px;
		border-right: 1px solid #000;
		width:300px;
	}
	
	
	.rodape li{
		margin-top:10px;
		text-align:center;
		padding-left:50px;
	}
	
	.rodape li a{
		color:#FFF;
		text-decoration:none;
		text-align:center;
		font-family:arial;
	}