

/* ID CONTENT */

#estrutura #conteudo {
	margin-left: 200px;
}

#estrutura #conteudo .espaco h2 {
	font-size: 1.5em;
	margin: 0px;
	margin-left: 20px;
	background-color: #d40606;
	color: #FFF;
	width: 80%;
	padding: 2px;
	padding-left: 6px;
	border-radius: 0px 10px 0px 0px;
}

#estrutura #conteudo .espaco {
	margin: 30px 10px;
	border-left: 1px solid #000;
	padding: 20px;
}

#estrutura #conteudo .espaco table {
	width: 100%;
	text-align: center;
	border-spacing: 20px;
}



#estrutura #conteudo .espaco .brinquedoimg {
	width: 250px;
	float: left;	
	margin-right: 0px;
	padding-right: 0px;
	margin-top:15px;
}

#estrutura #conteudo .espaco .brinquedoimg:hover{
	transform:scale(1.8);
	transition: all 0.5s ease;
	
	border-radius: 10px;
	border: 1px solid black;	
	
}

#estrutura #conteudo .espaco table tr td {
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #AAA;
	padding: 10px;
}

#estrutura #conteudo .espaco table tr td span {
	display: block;
	text-align: left;	
}

#estrutura #conteudo .espaco span.codigodobrinquedo{
	color:#000;
}

#estrutura #conteudo .espaco span.descricaodobrinquedo{
	color:#000;
	margin-top:40px;
	font-size: 15px;
}

#estrutura #conteudo .espaco .detalhes {
	height:250px;
}

#estrutura #conteudo .espaco .comprar{
	font-weight: bold;
	border-radius: 10px;
	border:0px;	
	float:right;
	margin-right:20px;
	margin-bottom: 10px;
	margin-top: 70px;
	height: 30px;
	background-color:#d40606;
	color: #fff;
	padding-left: 10px;
	width: 140px;
	font-size: 14.5px;
	box-shadow: 3px 3px 3px #AAA;
}

#estrutura #conteudo .espaco .carrinho{
	font-weight: bold;
	border-radius: 10px;
	border: 0px;	
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
	height: 30px;
	background-color: #d40606;
	color: #fff;
	padding-left: 10px;
	padding-bottom: 20px;
	width: 140px;
	font-size: 14.5px;
	box-shadow: 3px 3px 3px #AAA;
	margin-top: 70px;
}

#estrutura #conteudo .espaco .carrinho span{
	margin-top:7px;
}
#estrutura #conteudo .espaco .carrinhoimg{
	width: 27px;
	height: 20px;
	margin-bottom:50px;
	float: right;
}



#estrutura #conteudo .espaco span.valorantigo {
	text-decoration: line-through;
	color: #A00;
	font-weight: bold;
	margin-top: 20px;
}

#estrutura #conteudo .espaco span.valoratual {
	color: #000;
	font-weight: bold;
	font-size: 45px; 
}

#estrutura #conteudo .espaco span.parcelamento {
	font-weight: bold;
}

#estrutura #conteudo .espaco table tr td .detalhetopo {
	padding: 10px;
	margin: 0px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #ffbf00;
	border-radius: 5px;
	text-shadow: 2px 2px 4px #000;
	color: #FFF;
}

#estrutura #conteudo .espaco .textodetalhes{
	margin-left: 5px;
	text-align: left;
}
