/* GERAL */

body {
	margin: 0px;
	padding: 0px;
	font-family: Calibri, sans-serif;
	background: url("../img/bg.jpg");
}

ul {
	padding: 0px;
	margin: 0px;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

input, button {
	outline: none;
}

button {
	cursor: pointer;
}

/* ID ESTRUTURA */

#estrutura {
	width: 960px;
	margin: 50px auto;
	background-color: #FFF;
	box-shadow: 5px 5px 5px rgb(0,0,0,3);
	border: 3px solid #d40606;
}

/* ID TOPO */

#estrutura #topo img{
	width: 300px;
}

/* ID MENU */

#estrutura #menu {
	overflow: hidden;
    background: #d40606 url("../img/lego.png") repeat-x;
	padding-top: 30px;
}


#estrutura #menu ul {
	background-color: #d40606;
}

#estrutura #menu ul li a {
	display: block;
	padding: 10px;
	float: left;
	color: #FFF;
	transition: text-shadow 0.2s, background 0.2s, padding 0.2s;
	margin: 0px;
}

#estrutura #menu ul li a#active {
	background: linear-gradient(to bottom, #d40606, #800);
	padding: 15px;
}

#estrutura #menu ul li a#active:hover {
}

#estrutura #menu ul li a:hover {
	text-shadow: 2px 2px 5px #000;
	background: linear-gradient(to bottom, #d40606, #F00);
	padding-top: 20px;
}

/* ## ID MENU-OPÇÕES ## */



/* ## ID MENU-PESQUISA ## */

#estrutura #menu ul#menu-pesquisa li {
	float: right;
}

#estrutura #menu ul#menu-pesquisa li input[type="search"] {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	padding-right: 30px;
	background: #FFF url("../img/search.png") no-repeat 185px;
	background-size: 15px 15px;
	font-size: small;
	width: 210px;
	margin-top: 7px;
}

/* ID CONTENT */

#estrutura #conteudo {
	margin-left: 200px;
}

#estrutura #conteudo .espaco h2 {
	font-size: 1.5em;
	margin: 0px;
	margin-left: 20px;
	background-color: #d40606;
	color: #FFF;
	width: 50%;
	padding: 2px;
	padding-left: 6px;
	border-radius: 0px 10px 0px 0px;
}

#estrutura #conteudo .espaco {
	margin: 30px 10px;
	border-left: 1px solid #000;
	padding: 20px;
}

#estrutura #conteudo table {
	width: 100%;
	text-align: center;
	border-spacing: 20px;
}

#estrutura #conteudo .espaco img {
	width: 100px;
}

#estrutura #conteudo .espaco table tr td {
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #AAA;
	width: 100px;
	padding: 10px;
}

#estrutura #conteudo .espaco table tr td span {
	display: block;
}

#estrutura #conteudo span.valorantigo {
	text-decoration: line-through;
	color: #A00;
	font-weight: bold;
}

#estrutura #conteudo span.valoratual {
	color: #000;
	font-weight: bold;
	font-size: 25px; 
}

#estrutura #conteudo span.parcelamento {
	font-weight: bold;
}

#estrutura #conteudo .espaco table tr td h3 {
	margin: 0px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #ffbf00;
	border-radius: 5px;
	text-shadow: 2px 2px 4px #000;
	color: #FFF;
}

/* ID LATERAL */

#estrutura #lateral {
	width: 180px;
	float: left;
	padding: 0px 0px;
}

#estrutura #lateral #estrutura-lateral {
	width: 180px;
	margin: 0px 10px;;
}

#estrutura #lateral #lateral-menu {
	margin: 0px;
}

#estrutura #lateral #lateral-menu ul {
	margin-left: 20px;
}

#estrutura #lateral #lateral-menu ul li {
	color: #444;
	cursor: pointer;
}

#estrutura #lateral #lateral-menu ul li:hover {
	color: #000;
	text-decoration: underline;
}

#estrutura #lateral h2 {
	width: 200px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-radius: 0px 12px 0px 0px;;
	text-align: center;
	padding: 5px;
	background-color: #d40606;
	color: #FFF;
}

#estrutura #lateral #ofertas {
	border: 1px solid orange;
	border-radius: 10px;
	padding: 5px;
	margin-top: 50px;
}

#estrutura #lateral #ofertas h3 {
	text-align: center;
	margin: 2px;
	color: orange;
}

#estrutura #lateral #ofertas table tr td:first-child {
	text-align: right;
	font-weight: bold;
}

#estrutura #lateral #ofertas table tr:last-child td:last-child {
	text-align: right;
}

#estrutura #lateral #ofertas table tr td input[type="text"], input[type="email"]{
	border: 1px solid orange;
	border-radius: 5px;
	background-color: #FFF;
	padding: 3px;
	padding-left: 10px;
	width: 100px;
}
#estrutura #lateral #ofertas table tr:last-child td:last-child input[type="submit"]{
	border: 1px solid orange;
	border-radius: 5px;
	background-color: #FFF;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}

/* ID RODAPE */

#estrutura #rodape {
	border-top: 1px solid #000;	
	padding: 0px;
	font-size: small;
	width: 90%;
	margin: 15px auto;
}

#estrutura #rodape table tr td h4{
	font-size: small;
	text-align: center;
	text-transform: uppercase;
}

#estrutura #rodape table {
	width: 90%;
	border-collapse: collapse;
	margin: 0px auto;
	text-align: center;
}

#estrutura #rodape table tr td:first-child {
	vertical-align: middle;
	width: 10%;
}

#estrutura #rodape table tr {
	vertical-align: top;
}

#estrutura #rodape table tr td img {
	width: 200px;
}

#estrutura #rodape table tr td {
	transition: background-color 0.3s;
}

#estrutura #rodape table tr td a {
	color: #444;
}

#estrutura #rodape table tr td a:hover {
	color: #000;
	text-decoration: underline;
}

#estrutura #rodape table tr td:hover {
	background-color: #EEE;
}

#estrutura #rodape table tr td h4 {
	transition: background-color 0.3s;
	width: 100%;
	padding: 3px 0px;
}

#estrutura #rodape table tr td:hover h4 {
	background-color: #9a9a9a;
}

#estrutura #rodape table tr td:first-child:hover {
	background-color: #FFF;
}

#estrutura #rodape table tr td#social img {
	width: 20px;
}

#estrutura #rodape table tr td#social img:hover {
	width: 20px;
	transform: scale(1.8);
	transition:all 0.5s ease;
}

#estrutura #rodape #social {
	text-align: center;
}
