/*GERAL*/
body{
	margin:0;
	padding:0;
	font-family:Calibri,Arial,sans-serif;
}

table{
	border:1px solid #ACACAC;
	border-top:none;
	border-collapse:collapse;
	width:1024px;
	height:100%;
	margin:auto;
	padding:0px;
	
}

td{
	border:1px solid #ACACAC;
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

/*TOPO*/
#topo{
	padding:0;
	border:none;
	margin:0;
}


/*MENU*/
#menu{
	border:none;
}

#menu ul{
	margin:0px;
	margin-bottom:5px;
	padding:0;
	overflow:auto;
}

#menu li{
	float:left;
}


#menu a{
	margin: 0px 10px;
}

/*MENU LATERAL*/
#menuL{
	
	height:400px;
	width:200px;
	border-right:1px solid #ACACAC;
	border-bottom:1px solid #ACACAC;
	padding:0px;
	overflow:auto;
}

#menuL h3{
	background-color:#4682B4;
	color:#FFF;
	text-align:center;
	margin:0px;
}

#menuL ul{
	margin:0px 0px 0px 0px;
	height:362px;
	padding:10px;
	float:left;
}

#menuL li{
	margin:15px 0px;
}

/*CONTEÚDO*/
#conteudo{
	width:820px;
	height:400px;
	border:none;
	float:left;
}

#conteudo h2,h3{
	margin-left:10px;
}


#kombi{
	float:left;
}

#conteudo p{
	text-align:justify;
	margin:10px 10px;
}

#conteudo p a:hover,#conteudo p a:active,#conteudo p a:visited,#conteudo p a:link{
	color:blue;
}


#conteudo img{
	width:120px;
	height:90px;
}

#conteudo figure{
	float:left;
	margin:0px 20px;
}

#conteudo figcaption{
	text-align:center;
}
/*RODAPÉ*/
#rodape{
	width:1024px;
	height:30px;
	border:none;
}

#rodape ul{
	margin:0px 0px 0px 440px;
	padding:0;
}

#rodape li{
	float:left;
}

#rodape a{
	padding:0px 10px;
}