body{
	font-family:sans-serif;
	border-radius:20px;
}

table{


	border: 1px solid #000;
	margin-left:20%;
	padding:0;
}


.tb{
	width:848px;
	margin-top:10px;
	border-radius:20px;
	padding:0;

}

#tb1{
		border:0;
}
h1{
	border-bottom:0;
}


th,td{
	text-align:left;
	
	
}

.c1{
	width:250px;
	border-right:0;
	padding: 20px;
	padding-bottom:5px;
}

input,select{
	border-radius:5px;
	border:1px solid #A0A0A0;
}


h1{
	text-align:center;
}
p{
	font-size:14px;
}
#nb1{
	border:1px solid #000;
	border-bottom:0;
	border-radius:20px;
	padding-bottom:0px;
}


#nb1,#nb2{
	border-color:gray;
	background-color:hsla(200, 24%, 72%, 1);
	padding-left:20px;
	padding-right:20px;
}

.number{
	width: 40px;
}

.alert{
	color:red;
	font-style:italic;
	font-size:12px;
	display:inline;
	margin-left:5px;
	
}