
/*GERAL*/
body{
	margin:0;
	padding:0;
	font-family:Open Sans;
	background:#BC0000;
}
#container{
	width:1024px;
	margin:auto;
	border:none;
	padding-top:20px;
}

div,span,h1,h2,ul{
	border:1px solid #000;
	background:#BC0000;
}

#barra{
	border:1px solid #000;
	background:#000;
	height:20px;
	width:100%;
	margin:auto;
}
/*TOPO*/

#topo{
	height:150px;
}
#topo h1{
	color:#FFF;
	font:normal normal bold 38px/1.2em Arial,serif;
	width:300px;
	height:100px;
	margin:0;
	float:left;
	border:none;
}

#topo h2{
	font-family:Arial;
	font-size:15px;
	color:#E89A9A;
	width:300px;
	margin:0;
	border:none;
}

ul{
	
	margin-left:310px;
	margin:0;
	float:left;
	list-style:none;
	min-width:628px;
	height:30px;
	padding-top:40px;
	padding-bottom:10px;
	padding-right:20px;
	border:none;
	border-bottom: 1px solid #AAA;
	font-size:14px;
}

li{
	float:right;
}

#topo{
	border:none;
}
#topo a{
	text-decoration:none;
	padding:0px 20px;
	color:#FFF;
	font-weight:bold;
	
}

#topo a:hover{
	color:#000;
}

/*CONTEÚDO*/

img{
	width:300px;
	height:246px;
	float:left;
}

#conteudo{
	padding-top:70px;
	padding-bottom:200px;
	overflow:auto;
	border:none;
}
#conteudo h1{
	width:600px;
	font-family:sans-serif;
	font-weight:lighter;
	color:#FFF;
	margin-right:60px;
	border:none;
	border-bottom: 1px solid #AAA;
	padding-bottom:20px;
	float:right;
}

#conteudo p{
	width: 600px;
	text-align:justify;
	font-size:14px;
	color:#FFF;
	float:right;
	margin-right:60px;
	margin-top:5px;
}

#conteudo a{
	float:right;
	margin-right:570px;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}

#conteudo a:hover{
text-decoration:underline;
}

/*RODAPÉ*/
#rodape{
	border:1px solid #000;
	overflow:auto;
	padding-left:10px;
	background:#000;
}
.contato{
	
	width:250px;
	float:left;
	color:#FFF;
	background:#000;
}

.contato h3	,p{font-size:14px;}

#contact{
margin-left:180px;

}